:root {
    --color-chat: #6020A0;
    --color-secundario-chat: #402E58;
    --color-letra: white;
    --color-letra-secundaria: #B7B6B9;
    --width-secciones: 350px;
    --color-icons: #4D4D4D;

    --padding-chat: 24px;
    --padding-chat-mobile: min(10%, 8px);
    --altura-chat: calc(100vh - 4vw);

    --padding-datossuperiores-input-mobile: min(10%, 14px) 12px;

    --color-fondo-chat: #180828;
    --color-fondo-chat-secundario: #C9A9E9;


    --fondo-dashboard: #E3D5E0;
    --barra-lateral-dashboard: 1px solid #4B2C63;
    --texto-dashboard: #FFFFFF;

    --width-mobile: 1023px;
}

.application {
    width: 100%;
    height: 100vh;
    display: flex;

    .contenedor-de-application {
        width: 100%;
        height: 100vh;
        display: flex;
    }
}

body {
    ::selection {
        background-color: var(--color-chat);
        color: white;
    }
}